<%# called using new.js.erb %>
<div class = 'card'>
    <div class = "card-title"> 
        <h1>New Article</h1> 
    </div>
    <div class = "card-body">
        <%= render "form", article: @article %>
    </div>
</div>